:root {
  --color-white: #fff;
  --color-dark-black: #000;
  --color-dark-gray: #10100e;
  --color-yellow: #ffff00;
  --color-blue: #6a83fb;
  --color-violet: #781799;
  --color-red: #f75d83;

  --border-radius-small: 5px;
  --border-radius-medium: 10px;

  --spacing-ultra-small: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;

  --margin-list: 7px;

  --font-size-main: 16px;
  --font-size-header: 26px;
  --font-size-subheader: 18px;
  --font-bold: 600;
  --font-family-main: sans-serif;

  --text-shadow-yellow: 0 0 2px var(--color-white), 0 0 40px var(--color-yellow);
  --text-shadow-blue: 0 0 2px var(--color-white), 0 0 40px var(--color-blue);

  /* THEMES */

  --theme-light-header: #dfe3df;
  --theme-dark-header: #ca6c6f;
  --theme-neutral-header: #cccc46;
  --theme-default-header: var(--theme-dark-header);

  --theme-light-bg-image: linear-gradient(
    to right top,
    #2d5ca1,
    #447eb9,
    #65a0ce,
    #8bc1e2,
    #b6e3f7
  );
  --theme-dark-bg-image: linear-gradient(to right top, #632e75, #67258f, #651bac, #5615cb, #2716ee);
  --theme-neutral-bg-image: url(@static/bg.jpg);
  --theme-default-bg-image: var(--theme-neutral-bg-image);

  --transition: 0.4s;

  --width-max: 1240px;

  --box-shadow-white: 0 16px 24px 2px rgba(255, 255, 255, 0.02),
    0 6px 30px 5px rgba(255, 255, 255, 0.04), 0 8px 10px -5px rgba(255, 255, 255, 0.1);

  --box-shadow-black: 0 16px 24px 2px rgba(0, 0, 0, 0.5), 0 6px 30px 5px rgba(0, 0, 0, 0.1),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

body {
  font-size: var(--font-size-main);
  background-color: var(--color-dark-gray);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: var(--theme-default-bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

img {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header__text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);

  transition: color var(--transition);
}
