:root {
  --color-dark-white: #fff;
  --color-dark-black: #000;
  --color-dark-gray: #10100e;
  --color-yellow: #ffff00;

  --border-radius-small: 5px;

  --spacing-medium: 20px;

  --font-size-header: 26px;
}

body {
  background-color: var(--color-dark-gray);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
